
## Assignment 7


- **Name** : "Mohab mohammed ali ghobashy"

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.impute import KNNImputer

In [144]:
import pandas as pd
movies_df = pd.read_csv("movies.csv")
ratings_df = pd.read_csv("ratings.csv")
movies_df = movies_df.drop([ 'genres'], axis=1)
ratings_df = ratings_df.drop(['timestamp'], axis = 1)

In [145]:
merged_df = pd.merge(movies_df, ratings_df, on='movieId')
merged_df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [146]:
sorted_movie_titles = movies_df['title'].tolist()

# The above code retrieves the list of movie titles from the 'title' column of the movies_df DataFrame
# and converts it into a Python list.


merged_df = merged_df.pivot_table(index='userId', columns='title', values='rating', sort=True)

# The pivot_table function is used to reshape the merged_df DataFrame.
# It sets the 'userId' column as the index, 'title' column as the columns,
# and 'rating' column as the values of the new DataFrame.


merged_df = merged_df.reindex(columns=sorted_movie_titles)

# The reindex function is used to reorder the columns of the merged_df DataFrame based on the sorted_movie_titles list.
# It ensures that the columns (movie titles) are in the desired order.


merged_df.head()

# The above code displays the first few rows of the merged_df DataFrame.

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Gintama: The Movie (2010),anohana: The Flower We Saw That Day - The Movie (2013),Silver Spoon (2014),Love Live! The School Idol Movie (2015),Jon Stewart Has Left the Building (2015),Black Butler: Book of the Atlantic (2017),No Game No Life: Zero (2017),Flint (2017),Bungo Stray Dogs: Dead Apple (2018),Andrew Dice Clay: Dice Rules (1991)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# Filtering the users to the first 200 user, and 200 movies
selected_users = merged_df.iloc[:200]
selected_users = selected_users.iloc[:, :200]
selected_users

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Clerks (1994),Don Juan DeMarco (1995),Disclosure (1994),Drop Zone (1994),Destiny Turns on the Radio (1995),Death and the Maiden (1994),Dolores Claiborne (1995),Dumb & Dumber (Dumb and Dumber) (1994),Eat Drink Man Woman (Yin shi nan nu) (1994),Exotica (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
200,3.5,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:

selected_users=selected_users.fillna(0)
selected_users

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Clerks (1994),Don Juan DeMarco (1995),Disclosure (1994),Drop Zone (1994),Destiny Turns on the Radio (1995),Death and the Maiden (1994),Dolores Claiborne (1995),Dumb & Dumber (Dumb and Dumber) (1994),Eat Drink Man Woman (Yin shi nan nu) (1994),Exotica (1994)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
200,3.5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [149]:

# Calculate cosine similarity
cosine_sim = cosine_similarity(selected_users.T)
cosine_sim_df = pd.DataFrame(cosine_sim, columns=selected_users.columns, index=selected_users.columns)

In [150]:
cosine_sim_df.head()

title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Waiting to Exhale (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Tom and Huck (1995),Sudden Death (1995),GoldenEye (1995),...,Clerks (1994),Don Juan DeMarco (1995),Disclosure (1994),Drop Zone (1994),Destiny Turns on the Radio (1995),Death and the Maiden (1994),Dolores Claiborne (1995),Dumb & Dumber (Dumb and Dumber) (1994),Eat Drink Man Woman (Yin shi nan nu) (1994),Exotica (1994)
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),1.000000,0.364634,0.284825,0.000000,0.279775,0.327928,0.270701,0.128765,0.195017,0.352899,...,0.363093,0.211791,0.160623,0.088024,0.107733,0.104516,0.140704,0.360625,0.087884,0.0
Jumanji (1995),0.364634,1.000000,0.278446,0.102937,0.277072,0.278936,0.240488,0.130496,0.000000,0.342590,...,0.202565,0.085855,0.132766,0.114888,0.000000,0.000000,0.191316,0.352531,0.000000,0.0
Grumpier Old Men (1995),0.284825,0.278446,1.000000,0.150278,0.391915,0.341700,0.592157,0.406427,0.288534,0.231410,...,0.284289,0.200545,0.347200,0.197325,0.000000,0.000000,0.244260,0.485324,0.000000,0.0
Waiting to Exhale (1995),0.000000,0.102937,0.150278,1.000000,0.239259,0.176604,0.297614,0.253546,0.000000,0.129040,...,0.108721,0.382276,0.280386,0.000000,0.000000,0.000000,0.369406,0.132357,0.257513,0.0
Father of the Bride Part II (1995),0.279775,0.277072,0.391915,0.239259,1.000000,0.256166,0.539392,0.404422,0.000000,0.275293,...,0.150873,0.295177,0.380707,0.070687,0.000000,0.000000,0.287247,0.296883,0.092419,0.0

In [151]:
def get_similar_movies(movie_title, num_movies=10):
    # Get the cosine similarity row for the given movie title
    movie_row = cosine_sim_df.loc[movie_title]
    
    # Sort the row in descending order
    sorted_row = movie_row.sort_values(ascending=False)
    
    # Exclude the movie itself
    sorted_row = sorted_row[1:]
    
    # Get the top N movies
    top_movies = sorted_row.head(num_movies)
    
    # Retrieve the movie titles and create a DataFrame
    similar_movies = pd.DataFrame({'Title': top_movies.index})
    
    # Return the DataFrame
    return similar_movies

In [152]:
toy_story_similar_movies = get_similar_movies('Toy Story (1995)', num_movies=10)

# Display the similar movies
toy_story_similar_movies

                               Title
0                  Braveheart (1995)
1                   Apollo 13 (1995)
2         Usual Suspects, The (1995)
3               Happy Gilmore (1996)
4  Die Hard: With a Vengeance (1995)
5        Seven (a.k.a. Se7en) (1995)
6                        Babe (1995)
7                  Waterworld (1995)
8              Batman Forever (1995)
9                 Taxi Driver (1976)

In [153]:
waiting_to_Exhale_movies = get_similar_movies('Waiting to Exhale (1995)', num_movies=10)

# Display the similar movies
waiting_to_Exhale_movies

                                            Title
0                         Before and After (1996)
1  Mighty Morphin Power Rangers: The Movie (1995)
2                             Three Wishes (1995)
3                                 Reckless (1995)
4                             Now and Then (1995)
5                              Bushwhacked (1995)
6                                Cure, The (1995)
7                                 Mad Love (1995)
8                                  Georgia (1995)
9           Before the Rain (Pred dozhdot) (1994)

In [154]:
user_200 = selected_users.loc[200]

user_200_movies = []
for column_name, value in user_200.iteritems():
    if value > 0:
        user_200_movies.append((column_name, value))
len(user_200_movies)

# The above code selects the movies that user_200 has rated positively (rating > 0)
# and stores them in the user_200_movies list.


def similarity_function(movie, rating, watched_movies):
  
  # Less weight given for movies with a rating lower than 3 
  similarity_score = cosine_sim_df[movie] * (rating - 3)
  similarity_score = similarity_score.sort_values(ascending=False)

  similarity_score = similarity_score[~similarity_score.index.isin(watched_movies)]  # Exclude watched movies

  return similarity_score

# The similarity_function takes a movie, its rating, and a list of watched movies as input.
# It calculates the similarity score between the given movie and all other movies using cosine similarity.
# The similarity score is adjusted based on the rating (less weight for ratings lower than 3).
# The function returns the similarity scores for the unwatched movies.


similar_movies = pd.DataFrame()

# Creating a list with the already watched movies by the user
watched_movies = [movie for movie, _ in user_200_movies]

# The watched_movies list contains the names of movies that user_200 has already watched.


for movie, rating in user_200_movies:
    similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)

# The above code iterates over each movie in user_200_movies and calls the similarity_function for each movie.
# It appends the similarity scores for unwatched movies to the similar_movies DataFrame.


similar_movies.head()

top_3_indices = similar_movies.sum().sort_values(ascending=False).head(3).index

# The above code calculates the total similarity score for each movie by summing up the similarity scores across all users.
# It then selects the top 3 movies with the highest similarity scores.


print("Recommended movies:")
for movie in top_3_indices:
  print(movie)

# The above code prints the top 3 recommended movies based on the highest total similarity scores.

Recommended movies:
Dumb & Dumber (Dumb and Dumber) (1994)
Batman Forever (1995)
Net, The (1995)

C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)
C:\Users\sata\AppData\Local\Temp\ipykernel_2528\4108602508.py:38: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  similar_movies = similar_movies.append(similarity_function(movie, rating, watched_movies)).reset_index(drop=True)

<h1> another way i tried to make the reccomendation system manualy i tried to compute the similarity </h1>

In [155]:
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

movies=pd.read_csv('movies.csv')
rating=pd.read_csv("ratings.csv")


title = movies["title"].tolist()
retyped_titles = [re.sub(r"[^a-zA-Z0-9] ", "", str(t).lower()) for t in title]
movies["retyped_titles"] = retyped_titles
movies

vectorizer = TfidfVectorizer(ngram_range=(1, 2))
vectorized_titled = vectorizer.fit_transform(movies["retyped_titles"])

def text_preprocessing(new_input):
    new_input = re.sub("[^a-zA-Z0-9 ]", "", new_input).lower()
    new_input = vectorizer.transform([new_input])
    return new_input


def recommendation_system(new_input):
    vectorized_input = text_preprocessing(new_input)

    # Compute cosine similarity between vectorized titles and vectorized input
    similarity = cosine_similarity(vectorized_titled, vectorized_input).flatten()

    # Get the indices of the top 10 similar movies
    indices_top_10 = np.argpartition(similarity, -10)[-10:]

    # Get the movie ID of the most similar movie
    movie_id = movies.iloc[indices_top_10[::-1]]['movieId'].values[0]

    # Get users who rated the most similar movie highly (rating > 4)
    users_with_same_interest_on_film_df = rating[(rating["movieId"] == movie_id) & (rating['rating'] > 4)]
    users_with_same_interest_on_film = users_with_same_interest_on_film_df["userId"].unique()

    # Get other movies rated highly by users with similar interests
    users_other_recommendation_df = rating[(rating['userId'].isin(users_with_same_interest_on_film)) & (rating['rating'] > 4)]
    users_other_recommendation_df_filmsId = users_other_recommendation_df['movieId']

    # Calculate the percentage of interest for each movie
    percent_of_interest = users_other_recommendation_df_filmsId.value_counts() / len(users_with_same_interest_on_film)

    # Filter movies with interest percentage greater than 0.2
    filtered_movies = percent_of_interest[percent_of_interest > 0.2]

    # Get all users who rated the filtered movies highly
    all_people = rating[(rating["movieId"].isin(filtered_movies.index)) & (rating['rating'] > 4)]

    # Calculate the percentage of users interested in each movie
    all_people_percent = all_people["movieId"].value_counts() / len(all_people["userId"].unique())

    # Combine the two percentage series into a single dataframe
    rec_percentages = pd.concat([filtered_movies, all_people_percent], axis=1)
    rec_percentages.columns = ["similar_interest", "all"]

    # Calculate the score for each movie based on the ratio of similar interest to total interest
    rec_percentages["score"] = rec_percentages["similar_interest"] / rec_percentages["all"]

    # Sort the movies based on the score in descending order
    rec_percentages = rec_percentages.sort_values("score", ascending=False)

    # Get the top 10 recommended movies and merge with movie information
    final_df = rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

    return final_df, movie_id


movie1 = 'toy story'
movie2 = 'Waiting to Exhale'
final_df, movie_id = recommendation_system(movie1)
final_df2, movie_id2 = recommendation_system(movie2)

print("Recommendations for movie:", movie1)
display(final_df)

print("\nRecommendations for movie:", movie2)
display(final_df2)

Recommendations for movie: toy story

,similar_interest,all,score,movieId,title,genres,retyped_titles
0,1.000000,0.129225,7.738462,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,toy story (1995)
2355,0.307692,0.065606,4.689977,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,toy story 2 (1999)
506,0.246154,0.091451,2.691639,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,aladdin (1992)
322,0.276923,0.115308,2.401592,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,lion kingthe (1994)
418,0.215385,0.095427,2.257051,480,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,jurassic park (1993)
4360,0.215385,0.097416,2.210989,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,finding nemo (2003)
3194,0.246154,0.111332,2.210989,4306,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...,shrek (2001)
863,0.246154,0.135189,1.820814,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,monty python and the holy grail (1975)
2078,0.230769,0.127237,1.813702,2762,"Sixth Sense, The (1999)",Drama|Horror|Mystery,sixth sensethe (1999)
969,0.230769,0.135189,1.707014,1270,Back to the Future (1985),Adventure|Comedy|Sci-Fi,back to the future (1985)

Recommendations for movie: Waiting to Exhale

,similar_interest,all,score,movieId,title,genres,retyped_titles
1113,1.000000,0.012821,78.000000,1449,Waiting for Guffman (1996),Comedy,waiting for guffman (1996)
5881,0.285714,0.003663,78.000000,33154,Enron: The Smartest Guys in the Room (2005),Documentary,enronthe smartest guys in the room (2005)
429,0.285714,0.005495,52.000000,492,Manhattan Murder Mystery (1993),Comedy|Mystery,manhattan murder mystery (1993)
1348,0.285714,0.005495,52.000000,1834,"Spanish Prisoner, The (1997)",Crime|Drama|Mystery|Thriller,spanish prisonerthe (1997)
388,0.285714,0.007326,39.000000,446,Farewell My Concubine (Ba wang bie ji) (1993),Drama|Romance,farewell my concubine (ba wang bie ji(1993)
2238,0.285714,0.007326,39.000000,2973,Crimes and Misdemeanors (1989),Comedy|Crime|Drama,crimes and misdemeanors (1989)
2315,0.285714,0.007326,39.000000,3068,"Verdict, The (1982)",Drama|Mystery,verdictthe (1982)
1433,0.285714,0.007326,39.000000,1956,Ordinary People (1980),Drama,ordinary people (1980)
826,0.428571,0.012821,33.428571,1086,Dial M for Murder (1954),Crime|Mystery|Thriller,dial m for murder (1954)
889,0.428571,0.012821,33.428571,1186,"Sex, Lies, and Videotape (1989)",Drama,sexliesand videotape (1989)

In [156]:
def recommend_films_to_user(user_id, top_k=3):
    # Get ratings of the specified user
    user_ratings = rating[rating['userId'] == user_id]

    # Get films rated highly (rating > 4) by the user
    films_rated = user_ratings[user_ratings['rating'] > 4]['movieId']

    # Initialize list to store recommended films
    recommended_films = []

    # Iterate over films rated by the user
    for film_id in films_rated:
        # Get the title of the film
        film_title = movies[movies['movieId'] == film_id]['retyped_titles'].values[0]

        # Get recommendations for the film using the recommendation_system function
        recommendations, _ = recommendation_system(film_title)

        # Add the movie IDs of the recommended films to the list
        recommended_films.extend(recommendations['movieId'])

    # Calculate recommendation scores for the films
    rec_scores = pd.Series(recommended_films).value_counts()

    # Get the top-k films with the highest recommendation scores
    top_films = rec_scores.nlargest(top_k).index.tolist()

    # Return the movie information for the top recommended films
    return movies[movies['movieId'].isin(top_films)]



recommended_films_user_200 = recommend_films_to_user(200, top_k=3)
print("Recommended films for userID 200:")
display(recommended_films_user_200)

Recommended films for userID 200:

,movieId,title,genres,retyped_titles
3666,5048,Snow Dogs (2002),Adventure|Children|Comedy,snow dogs (2002)
3692,5092,Big Fat Liar (2002),Children|Comedy,big fat liar (2002)
5921,33830,Herbie: Fully Loaded (2005),Adventure|Comedy|Romance,herbiefully loaded (2005)